html {
    background-color: #222222;
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffaa00;
    font-size: 4em;
}

.logo {
    width: 12%;
}

.guesses_box {
    color: #ffffff;
    font-size: 1.5em;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.input_box {
    display:flex;
    max-width: 80%;
    flex-direction: column;
    position: relative
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.input {
	font-size: 3em;
	padding: 5px 10px;
    height: 2.5em;
    width: 100%;
	padding-right: 10px;
	outline: none;
	background: #FFFFFF;
	border-radius: 5px;
	transition: .3s ease;
    border-radius: 10%/30%;
}

.input:disabled {
    background: #777777;
    border-color:#777777;
}

.input::placeholder {
    color: #aaaaaa;
    opacity: 1;
}

.input:focus {
	background: #F2F2F2;
}

.svg_icon {
	position: absolute;
	right: 35px;
	fill: #000000;
	width: 3em;
	height: 3em;
}

.suggestions {
    list-style-type: none;
    top: 115%;
    max-height: 25em;
    overflow-y: auto;
    background: #ffffffdd;
    width: 100%;
    scrollbar-width: none;
    z-index: 10;
    position: absolute

}
.suggestions li {
    padding: 8px;
    cursor: pointer;
    font-size: 2em;
}
.suggestions li:hover {
    background-color: #f0f0f0;
}

/* Styling the guess container */
.guess-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    z-index: 1;
    align-items:center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

/* Styling individual field divs */
.field {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 25%;
    height: 3em;
    border-radius: 10%/40%;
}

.field h2 {
    text-align: center;
}

.field h3 {
    text-align: center;
}

.guess-container__title {
    width:100%;
    font-size: 4em;
    justify-self: flex-start;
    text-align: center;
    font-weight: bold;
}

.guess-container__creators {
    width:100%;
    font-size: 1.5em;
    justify-self: flex-start;
    text-align: center;
    font-weight: bold;
}

.guess-container__title--unassessed {
    color: #aaaaaa;
}

.guess-container__title--very-easy {
    color: #ffffff
}

.guess-container__title--easy {
    color: #55FFFF
}

.guess-container__title--novice {
    color: #55FF55
}

.guess-container__title--moderate {
    color: #FFFF55
}

.guess-container__title--hard {
    color: #FFAA00
}

.guess-container__title--very-hard {
    color: #FF5555
}

.guess-container__title--expert {
    color: #000000
}

/* Result-based background colors */
.field.correct {
    background-color: #a8e6a2; /* Green for "Correct" */
}

.field.close {
    background-color: #ffe680; /* Yellow for "Close" */
}

.field.wrong {
    background-color: #737373; /* Gray for "Wrong" */
}

.share-button {
    padding: 10px 15px;
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 25%;
}

.share-button:hover {
    background-color: #555555;
}

/*
/* desktop css rules
@media screen and (min-width: 1025px) {

    html {
        justify-content: center;
    }
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    h1 {
        font-size: 2em;
    }

    .logo {
        width: 50px;
    }
    
    .input {
        font-size: 1em;
    }

    .svg_icon {
        right: 15px;
        width: 15px;
        height: 15px;
    }
    
    .suggestions {
        max-height: 150px;
    }
    .suggestions li {
        font-size: 10px;
    }
    
    .guess-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .field {
        font-size: 0.7em;
        width: 19%;
        height: 2em;
        border-radius: 10%/40%;
        margin: 0.4em;
    }
    
    .field h2 {
        text-align: center;
        font-size: 0.8em;
    }
    
    .field h3 {
        text-align: center;
        font-size: 0.8em;
    }
    
    .guess-container__title {
        font-size: 1.5em;
    }
    
    .guess-container__creators {
        width:100%;
        font-size: 1em;
        justify-self: flex-start;
        text-align: center;
        font-weight: bold;
    }
    
    .share-button {
        font-size: 0.7em;
        padding: 10px;
    }
    
    .share-button:hover {
        background-color: #555555;
    }

    

}*/
