* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: #222222;
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ffaa00;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 30px;
}

.logo {
    width: 90px;
}

.info_box {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guesses_box {
    color: #ffffff;
    font-size: 15px;
    text-align: start;
    height: 18px;
    align-self: flex-end;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    width: 15px;
    text-align: center;
}

.tooltip-text {
    visibility: hidden;
    width: 320px;
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: 17px;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    z-index: 11;
    top: 125%; 
    right: 0px;
    transform: translateX(55px);
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.tooltip-container.show-tooltip .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    background: none;
    border: none;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.input_box {
    display:flex;
    max-width: 80%;
    flex-direction: column;
    position: relative
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.input {
	padding: 5px 10px;
    padding-left: 15px;
    padding-right: 55px;
	outline: none;
	background: #FFFFFF;
    border-color: #ffffff;
	transition: .3s ease;
    border-radius: 10%/40%;
    border-style: solid;

    font-size: 20px;
    height: 50px;

    width: 100%; 
    max-width: 375px; 
    box-sizing: border-box;
}

.input:disabled {
    background: #777777;
    border-color:#777777;
}

.input::placeholder {
    color: #aaaaaa;
    opacity: 1;
}

.input:focus {
	background: #F2F2F2;
}

.svg_icon {
	position: absolute;
	fill: #000000;
    right: 20px;
    width: 25px;
    height: 25px;
}

.suggestions {
    list-style-type: none;
    top: 115%;
    max-height: 300px;
    
    overflow-y: auto;
    background: #ffffffdd;
    width: 100%;
    scrollbar-width: none;
    z-index: 10;
    position: absolute

    

}
.suggestions li {
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
}
.suggestions li:hover {
    background-color: #f0f0f0;
}


.guess-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 90%;
    z-index: 1;
    align-items:center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;

    max-width: 375px;
    margin: 5px 0;
    padding: 0;
    gap: 5px;
}


.field {
    flex: 1 1 30%;
    padding: 5px 1px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%/40%;

    font-size: 11px;
    max-width: 33%;
    height: 40px;

    box-sizing: border-box;
}

.guess-container__map {
    width:100%;
    justify-self: flex-start;
    margin-bottom: 5px;
}

.guess-container__map__title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.guess-container__map__creators {
    width:100%;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.guess-container__title--unassessed {
    color: #aaaaaa;
}

.guess-container__title--very-easy {
    color: #ffffff
}

.guess-container__title--easy {
    color: #55FFFF
}

.guess-container__title--novice {
    color: #55FF55
}

.guess-container__title--moderate {
    color: #FFFF55
}

.guess-container__title--hard {
    color: #FFAA00
}

.guess-container__title--very-hard {
    color: #FF5555
}

.guess-container__title--expert {
    color: #444444;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}


.field.correct {
    background-color: #737373;
    animation: correctChange 2s ease forwards;
}

.field.close {
    background-color: #737373;
    animation: closeChange 2s ease forwards;
}

.field.wrong {
    background-color: #737373;
    animation: wrongChange 2s ease forwards;
}

.share-button {
    padding: 10px 15px;
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    width: 200px;

    font-size: 25px;
}

.share-button:hover {
    background-color: #555555;
}

.examples {
    margin-top: 15px;
    display: flex;
    width: 200px;
    flex-direction: row;
    gap: 15px;

}

.examples__example {
    flex: 1 1 30%;
    padding: 5px 1px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%/40%;

    font-size: 15px;
    max-width: 33%;
    height: 40px;

    box-sizing: border-box;
}

.examples__example--correct {
    background-color: #a8e6a2;
}

.examples__example--close {
    background-color: #ffe680;
}

.examples__example--wrong {
    background-color: #737373;
}

@media screen and (max-width: 350px) {
    .field {
        font-size: 9px;
    }
}

@keyframes correctChange {
    0% {
      background-color: #737373;
    }
    100% {
      background-color: #a8e6a2;
    }
}

  @keyframes closeChange {
    0% {
      background-color: #737373;
    }
    100% {
      background-color: #ffe680;
    }
}

  @keyframes wrongChange {
    0% {
      background-color: #737373;
    }
    100% {
      background-color: #737373;
    }
}